<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Goal:</h3>

    <form class="form new-goal-form">
      <div class="form-group">
        <label for="goal-name">Goal Name:</label>
        <input class="form-input" type="text" id="goal-name" name="goal-name" />
      </div>

      <div class="form-group">
        {{!-- <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" /> --}}
      </div>

      <div class="form-group">
        <label for="goal-desc">Description of Goal:</label>
        <textarea class="form-input" id="goal-desc" name="goal-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
 
  {{#if user.goals.length}}
  <div class="col-md-6 goal-list">
    <h3>Current Goals:</h3>

  {{#each user.goals as |goal|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/goal/{{goal.id}}">{{goal.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{goal.id}}">Delete</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
  
  <form name="bmiForm">
<div class="bmi-calculator">
  <h2 style="margin-bottom: 1em; color: black; font-size:28px;">Calculate your BMI</h2>
  <div class="bmi-calculator-weight">
    <input class="weight-slider" name="realweight" id="myWeight" type="range" min="25" max="180" value="60"/>
    <p style="margin-top: 1.8em;">
      WEIGHT: 
      <input name="WEIGHT" id="inputWeight" type="number" value="60" min="25" max="180" oninput="showValWeight(this.value)"/>
      <span id="weight"></span> kg
    </p>
  </div>
  <div class="bmi-calculator-height">
    <input class="height-slider" name="realheight" id="myHeight" type="range" min="100" max="220" value="160">
    <p style="margin-top: 1.8em;">
      HEIGHT:
      <input name="HEIGHT" id="inputHeight" type="number" value="160" min="100" max="220" oninput="showValHeight(this.value)"/>
      <span id="height"></span> cm
    </p>
  </div>
  <input class="BMI" type="button" value="Calculate" onclick="calculateBmi()" style="margin-top: 0.5em">
 <p style="margin-top: 1em;font-size: 1.2em;">
   <strong>Your BMI:</strong>
   <span id="yourbmi" style="font-size: 1.2em;margin-left: 8px;"></span>
 </p>
 <p></p>
 <p>
   <span id="Message"></span>
 </p>
</div>
</form>
  
  
  </div>

</br>

<script src="./js/profile.js"></script>
