* {
    font-family: 'Zilla Slab';
    font-style: center;
    
  }

html{
  background:none;
}

.footer{
  background: none;
}

.logo {
    size: 50px;
    color:brown
}
  
.main {
    font-size: 40px;
    font-family:'Zilla Slab'; 
  }

.login-btn {
    position: relative;
    color:rgb(17, 13, 8);
    top:0; 
    left:0;
    font-size: 20px;
    background-color: rgb(255, 215, 86);
    padding: 8px 24px;
    margin-left: 180px;
}

h1 {
  font-size: 60px;
  color: hsl(212, 100%, 27%); 
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  font-weight: bold;
}

h2 {
  font-size: 20px;
  color: hsl(212, 100%, 29%); 
}

/* //trying to figure out this edit */



body {
  background-image: url("../images/body.png");
  background-repeat: no-repeat;
  background-size: cover;
}



.signup-form {
  width: 250px;
  max-width: 400px;
  color:rgb(0, 0, 0);
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 2px;
  border-color: hsl(212, 100%, 29%);
  background: rgb(255, 215, 86);
  position: relative;
  height: 250px;
  bottom: 60px;
  margin-top: 80px;
}


/*Navbar Styling*/
.buttons:hover{
  background-color: lightgray;
  color: blue;
}

.buttons{
  margin-top: 15px;
  font-size: 20px;
  border: 0;
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

#logout{
  margin-top: 0px;
  font-size: 15px;
  border: 0;
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
#logout:hover{
  background-color: lightgray;
  color: blue;
}

.hero-body{
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    width: auto;
    -webkit-text-fill-color: transparent;
}

/*Goal Pages Styling*/
#goalName{
  font-size: 30px;
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

#goalDesc{
  font-size: 20px;
  font-weight: bold;
}

#goalDate{
  font-weight: bold;
}

/*BMI CALCULATOR*/
.bmi-calculator {
  border: 5px solid white;
  -moz-box-shadow: 0px 0px 5px hsl(15, 2%, 55%);
  -webkit-box-shadow: 0px 0px 5px hsl(15, 2%, 55%);
  box-shadow: 0px 0px 10px hsl(0,0%,73.9%);
  padding: 3em;
  margin: 2em;
  height: 550px;
  width: 250px;
  background-color: rgba(0, 0, 255, 0.226);

}
/*
  Styling for div elements wrapping both sliders
*/
.bmi-calculator-weight, .bmi-calculator-height {
  
  margin-bottom: 2.2em;
  width: 100%;
}

.weight-slider, .height-slider {
  width: 100%;
  height: 1px;
  border-radius: 10px;
  background: var(black); /* Light grey background. */
  outline: none; /* Remove outline. */
  /*opacity: 0.7; *//* Set transparency (for mouse-over effects on hover) */
  /*-webkit-transition: .2s;*/ /* 0.2 seconds transition on hover */
  /*transition: opacity .2s;*/
}

input[type=range] {
  -moz-appearance: none; /* Override default CSS styles */
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2.5px solid var(black);
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: white;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */ /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 2.5px solid var(--vigo-color);
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: white;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 2.5px solid var(--vigo-color);
  height: 20px;
  width: 20px;
  border-radius: 40px;
  background: white;
  cursor: pointer;
}

/* INPUT TYPE NUMBER STYLING*/
input[type=number] {
  -moz-appearance: none; 
  -webkit-appearance: none;
  cursor: pointer;
  background: var(--input-number-color);
  border-style: none;
  height: 30px;
  width: 60px;
  margin-left: 20px;
  margin-right: 10px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
}

input[type=number]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

@media only screen and (max-width: 325px) {
  .bmi-calculator {
    height: 560px;
  }
}

#bmiForm{
  display: inline;
  position: fixed;
  right: 5px;
  top: 190px;
}
