* {
    font-family: 'Zilla Slab';
    font-style: center;
    
  }

html{
  background:none;
}

.footer{
  background: none;
}

.logo {
    size: 50px;
    color:brown
}
  
.main {
    font-size: 40px;
    font-family:'Zilla Slab'; 
  }

.login-btn {
    position: relative;
    color:rgb(17, 13, 8);
    top:0; 
    left:0;
    font-size: 20px;
    background-color: rgb(255, 215, 86);
    padding: 8px 24px;
    margin-left: 180px;
}

h1 {
  font-size: 60px;
  color: hsl(212, 100%, 27%); 
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  font-weight: bold;
}

h2 {
  font-size: 20px;
  color: hsl(212, 100%, 29%); 
}

body {
  background-image: url("../images/weights.PNG");
  background-repeat: no-repeat;
  background-size: cover;
}


.signup-form {
  width: 250px;
  max-width: 400px;
  color:rgb(0, 0, 0);
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: 2px;
  border-color: hsl(212, 100%, 29%);
  background: rgb(255, 215, 86);
  position: relative;
  height: 250px;
  bottom: 60px;
  margin-top: 80px;
}


/*Navbar Styling*/
.buttons:hover{
  background-color: lightgray;
  color: blue;
}

.buttons{
  margin-top: 15px;
  font-size: 20px;
  border: 0;
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}

#logout{
  margin-top: 0px;
  font-size: 15px;
  border: 0;
  background-color: white;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
#logout:hover{
  background-color: lightgray;
  color: blue;
}

.hero-body{
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    width: auto;
    -webkit-text-fill-color: transparent;
}

/*Goal Pages Styling*/
#goalName{
  font-size: 30px;
  background-image: repeating-linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

#goalDesc{
  font-size: 20px;
  font-weight: bold;
}

#goalDate{
  font-weight: bold;
}
